@font-face {
    font-family: Inter SB;
    src: url(../fonts/Inter-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Rubik R;
    src: url(../fonts/Rubik-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Rubik M;
    src: url(../fonts/Rubik-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Rubik SB;
    src: url(../fonts/Rubik-SemiBold.ttf);
    font-weight: 600;
}